{% extends "base.html" %}
{% block content %}
  <blockquote>
    <p>
    A man embarrassed in his circumstances, and conducting them imprudently, likes best to continue in the dark; he will not gladly reckon up the debtor entries he is charged with. 
    <br>
    But on the other hand, there is nothing to a prudent manager more pleasant than daily to set before himself the sums of his growing fortune.
    </p>
    <cite>
      J.W. von Goethe (1749–1832) - Wilhelm Meister’s Apprenticeship
    </cite>
  </blockquote>
{% endblock %}
