{% extends "header_bookkeeping.html" %}
{% block bookkeeping %}
<a href="{{ url_for('general_ledger', currency='satoshis')}}">Satoshis</a>
<a href="{{ url_for('general_ledger', currency='usd')}}">USD</a>
<hr>

  <h1>
    General Ledger
  </h1>
  {% if accounts %}
    {% for account in accounts %}
      <a href="{{ url_for('ledger', accountName=account[0]['accountName'], groupby='All', currency=currency)}}">
        <h3>
          {{account[0]['accountName']}}
        </h3>
      </a>
      <table border="1">
        <tr>
          <th>
          </th>
          <th>
            Debit
          </th>
          <th>
            Credit
          </th>
        </tr>
        <tbody>
          {% for entry in account[1] %}
          <tr>
            <td>
              <a href="{{ url_for('ledger_page', accountName=account[0]['accountName'], groupby='Monthly', interval=entry.strftime('%m-%Y'), currency=currency)}}">
                {{entry.strftime("%m-%Y")}}
              </a>
            </td>
              {% if 'debit' in account[1][entry] %}
              <td align="right">
               {% if currency == 'satoshis' %}
                {{format_satoshis(account[1][entry]['debit'])}}
               {% elif currency == 'usd' %}
                {{format_usd(account[1][entry]['debit'])}}
               {% endif %}
              </td>
              {% else %}
                <td align="center">
                  -
                </td>
              {% endif %}
            {% if 'credit' in account[1][entry] %}
              <td align="right">
               {% if currency == 'satoshis' %}
               {{format_satoshis(account[1][entry]['credit'])}}
               {% elif currency == 'usd' %}
               {{format_usd(account[1][entry]['credit'])}}
               {% endif %}
              </td>
            {% else %}
              <td align="center">
                -
              </td>
            {% endif %}
            
          </tr>
          {% endfor %}
            
          <tr>
            <td>
              Total
            </td>
            <td align="center">
              {% if account[0]['totalDebit'] %}
              {% if currency == 'satoshis' %}
              {{format_satoshis(account[0]['totalDebit'])}}
              {% elif currency == 'usd' %}
              {{format_usd(account[0]['totalDebit'])}}
              {% endif %}
              {% else %}
              -
              {% endif %}
            </td>
            <td align="center">
              {% if account[0]['totalCredit'] %}
              {% if currency == 'satoshis' %}
              {{format_satoshis(account[0]['totalCredit'])}}
              {% elif currency == 'usd' %}
              {{format_usd(account[0]['totalCredit'])}}
              {% endif %}
              {% else %}
              -
              {% endif %}
            </td>
          </tr>
        </tbody>
        <tfoot bgcolor="silver">
          <tr>
            <td>
              Balance
            </td>
            <td align="center">
              {% if account[0]['debitBalance'] %}
              {% if currency == 'satoshis' %}
              {{format_satoshis(account[0]['debitBalance'])}}
              {% elif currency == 'usd' %}
              {{format_usd(account[0]['debitBalance'])}}
              {% endif %}
              {% else %}
              -
              {% endif %}
            </td>
            <td align="center">
              {% if account[0]['creditBalance'] %}
              {% if currency == 'satoshis' %}
              {{format_satoshis(account[0]['creditBalance'])}}
              {% elif currency == 'usd' %}
              {{format_usd(account[0]['creditBalance'])}}
              {% endif %}
              {% else %}
              -
              {% endif %}
            </td>
          </tr>
        </tfoot>
      </table>
    {% endfor %}
  {% else %}
  No ledger entries have been recorded.
  {% endif %}
{% endblock %}
